body{
  max-width:800px;
  margin:40px auto;
  padding:0 10px;
  font:16px/1.2 Georgia, serif;
  color:#000000;
  background:#FFFFFF;
}
h1{
  line-height:1.1;
  font-family:sans-serif;
  font-size:40px;
  margin:20px 0 0 0;
  color:darkblue
}
h2{
  line-height:1.1;
  font-family:sans-serif;
  font-size:30px;
  margin:20px 0 0 0;
  color:darkblue
}
h3{
  line-height:1.1;
  font-family:sans-serif;
  font-size:23px;
  margin:20px 0 0 0;
  color:darkblue
}
h4{
  line-height:1.1;
  font-family:sans-serif;
  font-size:17px;
  margin:20px 0 0 0;
  color:darkblue
}
a:link{text-decoration: none; color: inherit; font-weight: bold}
a:visited{text-decoration: none; color: inherit; font-weight: bold}
a:hover{text-decoration: underline; color: inherit; font-weight: bold}
a:active{text-decoration: underline; color: inherit; font-weight: bold}
code{color: #000060}
pre{color: #000060; white-space: pre-wrap}
aside{
  border:1px outset black;
  background-color:#E0FFE0;
  padding:10px;
}
.mysummary{
  border:1px outset black;
  background-color:#E6E6FF;
  padding:5px;
  margin:5px
}
.mypagination{
  padding:5px 0px 0px 0px;
}
img{
  max-width: 99%;
  height: auto;
}
