<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode | default "en-us" }}">
  <!--
    Dash at beginning of Go Template removes all space just before template; at
    end, all space just after template.
  -->
  {{- partial "head" . -}}
  <body>
    {{ partial "header" . }}
    {{ block "main" . }}{{ end }}
    {{ partial "footer" . }}
  </body>
</html>
