<!DOCTYPE html>
<!--
  It's not clear to me why this file, 'list.html' must have a full
  document-structure as 'baseof.html' does.  I should naively assume that
  'baseof.html' is always used, and so I'm not sure what's going on here.
-->
<html lang="{{ .Site.LanguageCode | default "en-us" }}">
{{- partial "head" . -}}
<body>
{{ partial "header" . }}
<main>
  <!--
    $listtitle stores the title of the list. Later on, in the loop over the
    items in the list, .Title becomes the title of the item.
  -->
  {{ $listtitle := .Title }}
  <!--
    Apparently, a list can have a title or not, and a list can have some
    content associated with it (apart from its items) or not.
  -->
  {{ if or .Title .Content }}
  <div>
    {{ with .Title }}<h1>{{ . }}</h1>{{ end }}
    {{ with .Content }}<div>{{ . }}</div>{{ end }}
  </div>
  {{ end }}
  <ul>
    {{ if eq $listtitle "Posts" }}
    <!--
      Posts are ordered by date, and so we can just process them in order.
    -->
    {{ range .Paginator.Pages }}
    <li>
      <div>
        <time style="font-family:monospace">
          {{ .Date.Format (.Site.Params.dateFormat | default "2006 Feb 02") }}
        </time>
        &nbsp;
        <a href="{{ .RelPermalink }}">{{ .Title }}</a>
      </div>
    </li>
    {{ end }}
    {{ else }}
    <!-- Every other kind of list should be sorted by the element's title. -->
    {{ range (.Paginate (.Pages.ByTitle)).Pages }}
    <li>
      <div><a href="{{ .RelPermalink }}">{{ .Title }}</a></div>
    </li>
    {{ end }}
    {{ end }}
  </ul>
  {{ partial "pagination.html" . }}
</main>
{{ partial "footer.html" . }}
</body>
</html>
