{{ define "main" }}
<main>
  <article>
    <h1>{{ .Title }}</h1>
    {{ with .Params.description }}
    <br>
    <div style="font-family:sans-serif">
      <i>{{ . }}</i>
    </div>
    {{ end }}
    <br>
    <div>
      <time>
        {{ .Date.Format (.Site.Params.dateFormat | default "2006 Jan 02") }}
      </time>
    </div>
    <br>
    <div>
      {{ $pl := .Permalink }}
      {{ range .Params.tags }}
      {{   if (strings.HasSuffix $pl "html") }}
      <a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}.html">{{ . }}</a>
      {{   else }}
      <a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}">{{ . }}</a>
      {{   end }}
      {{ end }}
    </div>
    <br>
    <div> {{ .Content }} </div>
    <br>
  </article>
</main>
{{ partial "sidebar.html" . }}
{{ end }}
