<article>
  <h4 style="margin:0 0 10px 0">
    <a href="{{ .Permalink | relLangURL }}">{{ .Title }}</a>
  </h4>
  <div>
    <time>
      {{ .Date.Format (.Site.Params.dateFormat | default "2006 Feb 02") }}
    </time>
  </div>
  {{ with .Params.description }}
  <br>
  <div style="font-family:sans-serif"><i>{{ . }}</i></div>
  {{ end }}
  {{ .Summary }}
  <div>
    {{ $pl := .Permalink }}
    {{ range .Params.tags }}
    {{   if (strings.HasSuffix $pl "html") }}
    <a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}.html">{{ . }}</a>
    {{   else }}
    <a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}">{{ . }}</a>
    {{   end }}
    {{ end }}
  </div>
</article>
