<footer>
  <p/>
  <center>
  {{ range .Site.Menus.footer }}
  <a href="{{ .URL | relURL }}"><b>{{ .Name }}</b></a>.
  {{- end }}
  </center>
  {{ with .Site.Params.copyright }}
  <div>Copyright {{ now.Year }} {{ . }}</div>
  {{ end }}
  {{ with .Site.Params.email }}
  <div><a href="mailto:{{ . }}">{{ . }}</a></div>
  {{ end }}
</footer>
