<header>
  {{ $pl := .Permalink }}
  <table>
    <tr>
      <td>
        <a href="/img/avatar-icon.png">
        <img
          src="/img/avatar-icon.png"
          width="64"
          style="padding:0 10px 0 0"/>
        </a>
      </td>
      <td>
        <h2 style="color:black">
          {{ if (strings.HasSuffix $pl "html") }}
          <a href="/index.html">{{ .Site.Title }}</a>
          {{ else }}
          <a href="/">{{ .Site.Title }}</a>
          {{ end }}
        </h2>
      </td>
    </tr>
  </table>
  <h3 style="color:black">{{ .Site.Params.subtitle }}</h3>
  <p>
  <nav>
    <b>
      {{ if (strings.HasSuffix $pl "html") }}
      <a href="/index.html">Top</a>.
      {{ else }}
      <a href="/">Top</a>.
      {{ end }}
      {{ with .Site.Menus.main }}
      {{ range . }}
      <a href="{{ .URL }}">{{ .Name }}</a>.
      {{ end }}
      {{ end }}
    </b>
  </nav>
  </p>
  <hr style="width:100%; height:10px; color:black; background-color:black">
  </hr>
  <div style="background-color:white; width:100%;">&nbsp;</div>
</header>
