<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" href="/img/favicon.png">

  <!--
    BEGIN katex setup
  -->
  <link rel="stylesheet" href="/katex-0.12.0/katex.min.css">
  <!-- The loading of KaTeX is deferred to speed up page rendering. -->
  <script defer src="/katex-0.12.0/katex.min.js"></script>
  <!-- For automatic rendering of math in text elements. -->
  <script
    defer
    src="/katex-0.12.0/contrib/auto-render.min.js"
    onload="renderMathInElement(document.body);">
  </script>
  <!--
    END   katex setup
  -->

  <style type=text/css>body{font-family:sans-serif;}</style>

  <!--
    The meta-tag used with a property beginning with 'og:' enables optimal
    posting of a page's link to Facebook and other social media.
  -->

  {{ with .Title }}
  <title>{{ . }}</title>
  <meta property="og:title" content="{{ . }}"/>
  {{ end }}

  {{ with .Params.description }}
  <meta property="og:description" content="{{ . }}"/>
  {{ end }}

  {{ with .Params.image }}
  <meta property="og:image" content="{{ . }}"/>
  {{ end }}

  {{ with .Site.Params.description }}
  <meta name="description" content="{{ . }}">
  {{ end }}

  {{ with .Site.Params.author }}
  <meta name="author" content="{{ . }}">
  {{ end }}

  <link rel="stylesheet" href="{{ "css/style.css" | relURL }}">
</head>
