<div class="mypagination">
  {{ if .Paginator.HasPrev }}
  <!--
    Even when uglyURLs be specified in config.toml, .Paginator.Prev.URL will
    not be ugly when it points back from the second page to the first.  The
    if-statement checks to see whether URLs should be ugly.  The
    regular-expression replacement remedies the broken situation whenever it
    appears.
  -->
  {{   if (strings.HasSuffix .Paginator.URL "html") }}
  <a href='{{ replaceRE "^(.*)/$" "$1/index.html" .Paginator.Prev.URL }}'>
  {{     else }}
  <a href='{{ .Paginator.Prev.URL }}'>
  {{   end }}
    Prev Page
  </a>
  {{ end }}
  {{ .Paginator.PageNumber }} of {{ .Paginator.TotalPages }}
  {{ if .Paginator.HasNext }}
  <a href="{{ .Paginator.Next.URL }}">
    Next Page
  </a>
  {{ end }}
</div>
