<aside>
  <div>
    <div>
      <b>LATEST POSTS</b>
    </div>
    <div>
      <ul>
        {{ range first 5 (where .Site.RegularPages "Type" "in" .Site.Params.mainSections) }}
        <li><a href="{{ .RelPermalink }}">{{ .Title }}</a></li>
        {{ end }}
      </ul>
    </div>
  </div>
</aside>
