{{ define "main" }}
<main>
  {{ $paginator := .Paginate (where .Site.RegularPages "Type" "in" .Site.Params.mainSections) }}
  {{ range $paginator.Pages }}
  <div class="mysummary">
    {{ .Render "summary" }}
  </div>
  {{ end }}
  {{ partial "pagination.html" . }}
</main>
{{ end }}
